<div class="row">
  <amp-list id="featuredList" reset-on-refresh layout="fixed-height" height="640" src="index.php?route=api/json/featured" [src]="featured_list || 'index.php?route=api/json/featured'" binding="no">
    <div placeholder>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href="/image/catalog/noimg.png"><amp-img src="/image/catalog/noimg.png" width="1" height="1" layout="responsive" alt="" title="" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href="" style="font-size:1.1rem;font-weight:600;color:black">_____</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">---</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
            <button type="button" data-toggle="tooltip" title="" ></button>
          </div>
        </div>
      </div>
    </div>
    <template type="amp-mustache">
      {{#item}}
      <div class="product-layout col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="product-thumb transition">
          <div class="image"><a href={{href}}><amp-img src="{{thumb}}" width="1" height="1" layout="responsive" alt="{{name}}" title="{{name}}" class="img-responsive" /></amp-img></a></div>
          <div class="caption">
            <h4><a href='{{href}}' style="font-size:1.1rem;font-weight:600;color:black">{{name}}</a></h4>
            <p class="price" style="display: flex;justify-content: space-between">
              <span class="price-main">{{price}}</span>
            </p>
          </div>
          <div class="button-group">
            <button type="button" style="color: #666;font-size:11px" on="tap:lightbox0,AMP.setState({'add_cart_id':'{{product_id}}'}),add_cart_form.submit"><svg style="width:16px;height:16px;margin-bottom:-3px;" viewBox="0 0 24 24"> <path fill="currentColor" d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" /> </svg>
              <span class="hidden-xs hidden-sm hidden-md"></span></button>
            <button on="tap:lightbox0,AMP.setState({'wishlist_id':'{{product_id}}'}),wishlist_form.submit" type="button" data-toggle="tooltip" title="" >
              <svg style="width:16px;height:16px;margin-bottom:-3px" viewBox="0 0 24 24"> <path fill="currentColor" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" /> </svg></button>
            <button type="button" data-toggle="tooltip" title="" ><svg style="width:18px;height:18px;margin-bottom:-4px" viewBox="0 0 24 24"> <path fill="currentColor" d="M21,9L17,5V8H10V10H17V13M7,11L3,15L7,19V16H14V14H7V11Z" /> </svg></button>
          </div>
        </div>
      </div>
      {{/item}}
    </template>
  </amp-list>
</div>
